* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: "Lobster", cursive;
  text-align: center;
  text-shadow: 2px 2px 7px black;
  color: rgb(172, 93, 36);
  font-size: 35px;
}

table {
  box-shadow: 6px 6px 30px;
  background-color: rgb(252, 210, 152);
  margin: 2em auto;
}

table,
td {
  border-collapse: collapse;
  border: 1px solid black;
}

td {
  padding: 0;
  width: 80px;
  height: 80px;
  text-align: center;
}

img {
  height: 100%;
}

h3 {
  margin: 5px;
}

.reglas {
  margin: 1%;
}
